/* div {
    background-color: purple !important;
} */

:root {
    --text-color: white;
    --bg-from: #19244b;
    --bg-to: #1b415e;
    --background: linear-gradient(120deg, var(--bg-from), var(--bg-to));
    --cm-background: linear-gradient(120deg, var(--bg-from), var(--bg-to));
}

body,
.marimo-app,
#root {
    background: linear-gradient(100deg, var(--bg-from), var(--bg-to), #1a4864) !important;
}

div[part="table-footer"] {
    color: var(--text-color) !important;
}

marimo-ui-element marimo-table span {
    color: var(--text-color) !important;
}

h1,
h2,
h3,
span.truncate {
    color: var(--text-color);
}

span.paragraph, span.markdown, label {
	color: var(--text-color) !important;
}

.period-label {
    color: #ffffff !important;
    font-weight: 600;
}

button#radix-_r_1c_.text-xs {
	color: var(--text-color) !important;
}

select {
    background-color: var(--bg-color);
    color: var(--text-color) !important;
}
