POSTGRES_URL=postgresql://username:password@domain:port

# the generated folder can be safely deleted, but keeping it means you will have a snapshot
# of the last time you've imported your files. Do not put a trailing slash.
# defaults to "./" in the app.
TABLE_PATH=./generated # <the path where database parquet files will be stored>
# KPITEN_PORT=5000

# DB
DB_USER=sql
DB_PWD=any
DB_HOST=localhost
DB_PORT=5432

# ODOO RELATED
ODOO_HOST=localhost
ODOO_PORT=8069
ODOO_DB=db
ODOO_LOGIN=admin
ODOO_PWD=admin